<p id="notice"><%= notice %></p>

<p>
  Name: <%= allowance.name %><br/>
  Starting Amount: <%= allowance.starting_amount %> <br/>
  Planned: <%= allowance.planned %> <br/>
  Spent: <%= allowance.spent %> <br/>
  Category: <%= allowance.category %> <br/>
  Start Date: <%= allowance.start_date %> <br/>
  End Date: <%= allowance.end_date %> <br/>

</p>

<%= link_to 'Edit', edit_allowance_path(allowance) %> |
<%= link_to 'Back', allowances_path %>
